<a href="https://colab.research.google.com/github/GbotemiB/ML_Notebooks/blob/main/News%20classification%20NLP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#This is simple News classification

In [14]:
import pandas as pd

import requests
import io

url = 'https://drive.google.com/uc?id=1NgPM7_mFCDKnuqI9SamMCrkF1mE5AgAI'

download = requests.get(url).content
df = pd.read_csv(io.StringIO(download.decode('utf-8')))

In [16]:
df.head()

        category                                               text
0           tech  tv future in the hands of viewers with home th...
1       business  worldcom boss  left books alone  former worldc...
2          sport  tigers wary of farrell  gamble  leicester say ...
3          sport  yeading face newcastle in fa cup premiership s...
4  entertainment  ocean s twelve raids box office ocean s twelve...

In [13]:
df.shape

(2225, 2)

In [18]:
df.isna().sum()

category    0
text        0
dtype: int64

In [19]:
df.category.unique()

array(['tech', 'business', 'sport', 'entertainment', 'politics'],
      dtype=object)

In [40]:
y = df['category'].astype("category").cat.codes

In [ ]:
import nltk
nltk.download('all')
import re
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize
lemmatizer = WordNetLemmatizer()

In [54]:
def remove_stopwords(text):
    tokens = word_tokenize(text)
    stopword_list = set(stopwords.words('english'))
    filtered_tokens = [token for token in tokens if token.lower() not in stopword_list]
    filtered_text = ' '.join(filtered_tokens)
    return filtered_text

# Apply the remove_stopwords function to the 'Text' column
df['text'] = df['text'].apply(remove_stopwords)

In [56]:
X = df['text']

y = df['category']

In [58]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [59]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer()
X_train_cv = cv.fit_transform(X_train)
X_train_cv.shape

(1780, 26537)

In [61]:
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression()
lr.fit(X_train_cv, y_train)

X_test_cv = cv.transform(X_test)
preds = lr.predict(X_test_cv)

In [71]:
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.metrics import classification_report

ans = classification_report(preds, y_test, output_dict=True)

In [70]:
df_report = pd.DataFrame(ans).transpose()
df_report

               precision    recall  f1-score     support
business        0.930693  0.921569  0.926108  102.000000
entertainment   0.950617  0.962500  0.956522   80.000000
politics        0.963855  0.930233  0.946746   86.000000
sport           1.000000  1.000000  1.000000   98.000000
tech            0.951220  0.987342  0.968944   79.000000
accuracy        0.959551  0.959551  0.959551    0.959551
macro avg       0.959277  0.960329  0.959664  445.000000
weighted avg    0.959591  0.959551  0.959442  445.000000